.container {
  width: 820px;
  height: 393px;
  /* border: 1px solid green; */
  margin: 80px 0 0 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container :nth-of-type(2) {
  position: relative;
  top: 50px;
}

.container :nth-of-type(3) {
  position: relative;
  top: 60px;
  line-height: 38px;
}

.container :nth-of-type(4) {
  position: relative;
  top: 150px;
  /* border: 2px solid red; */
}

.Buttons {
  position: relative;

  top: 220px;
  display: flex;
  /* border: 2px solid green; */
  gap: 40px;
}
.Button {
  height: 43px;
  background: linear-gradient(0deg, #122b49, #122b49),
    linear-gradient(0deg, rgba(79, 79, 79, 0.2), rgba(79, 79, 79, 0.2));

  padding: 12px 32px 12px 32px;
  gap: 10px;
  border-radius: 8px;
}

.Button:nth-of-type(2) {
  top: 0;
}

.Button > a {
  text-decoration: none;
  color: #ffffff;
}
