.container {
  width: 820px;
  height: 368px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container_1 {
  display: flex;
  justify-content: space-between;
}
.mapGroup {
  width: 820px;
  height: 442px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.map {
  width: 800px;
  height: 420px;
  border: 1px solid green;
}
